.about-us-introduce {
	.subtitle {
		.line {
			height: 1px;
			width: 3rem;
			background-color: var(--accent-9);
		}

		.text {
			--letter-spacing: 0.6rem;
			color: var(--accent-11);
		}
	}

	.title {
		align-self: flex-start;

		.image {
			top: 0;
			right: 0;
			transform: translate(70%, -60%);
		}

		.text {
			--heading-letter-spacing: -0.08rem;
			color: var(--gray-12);
		}
	}

	.image-area {
		.backdrop {
			top: 1rem;
			right: 1rem;
			background-color: var(--accent-4);
		}
	}
}
