.about-us-why {
	.subtitle {
		.line {
			height: 1px;
			width: 3rem;
			background-color: var(--accent-9);
		}

		.text {
			--letter-spacing: 0.6rem;
			color: var(--accent-11);
		}
	}

	.title {
		--heading-letter-spacing: -0.08rem;
		color: var(--gray-12);
	}

	.content {
		.arrow {
			top: 100%;
			right: 4rem;
		}

		.description {
			max-width: 24rem;
		}

		.card {
			background-color: white;
		}
	}
}
