.about-us-header {
	background-color: var(--accent-2);

	.badge {
		background-color: var(--accent-11);
		color: var(--accent-1);
		border-radius: 999px;
		padding: var(--space-2) var(--space-4);
	}

	.title {
		color: var(--gray-12);
	}
}
